[View in Colaboratory](https://colab.research.google.com/github/corrieann/kaggle/blob/master/kaggle_api_in_colab.ipynb)

## Installing the [Kaggle API](https://github.com/Kaggle/kaggle-api) in Colab

In [0]:
!pip install kaggle

## Authenticating with Kaggle using kaggle.json

Navigate to https://www.kaggle.com. Then go to the Account tab of your user profile and select Create API Token. This will trigger the download of kaggle.json, a file containing your API credentials.

Then run the cell below to upload kaggle.json to your Colab runtime.

In [0]:
from google.colab import files

uploaded = files.upload()

for fn in uploaded.keys():
  print('User uploaded file "{name}" with length {length} bytes'.format(
      name=fn, length=len(uploaded[fn])))

And then move `kaggle.json` into the folder where the API expects to find it.

In [0]:
# The API looks for `kaggle.json` in `~/.kaggle/`.
!mkdir -p ~/.kaggle/ && mv kaggle.json ~/.kaggle/

... and everything past this point is just using the Kaggle API.  For a more complete list of what you can do with the API, visit https://github.com/Kaggle/kaggle-api.

## Listing competitions

In [0]:
!kaggle competitions list

ref                                            deadline             category             reward  teamCount  userHasEntered
---------------------------------------------  -------------------  ---------------  ----------  ---------  --------------
digit-recognizer                               2030-01-01 00:00:00  Getting Started   Knowledge       2568           False
titanic                                        2030-01-01 00:00:00  Getting Started   Knowledge       9728            True
house-prices-advanced-regression-techniques    2030-01-01 00:00:00  Getting Started   Knowledge       4070           False
imagenet-object-localization-challenge         2029-12-31 07:00:00  Research          Knowledge         26           False
pubg-finish-placement-prediction               2019-01-30 23:59:00  Playground             Swag         53           False
zillow-prize-2                                 2019-01-16 06:59:00  Featured         $1,150,000         40           False
human-protein-atlas-image-classification       2019-01-10 23:59:00  Featured            $37,000         65           False
two-sigma-financial-news                       2019-01-08 23:59:00  Featured           $100,000        531           False
competitive-data-science-predict-future-sales  2019-01-01 23:59:00  Playground            Kudos       1532           False
PLAsTiCC-2018                                  2018-12-17 23:59:00  Featured            $25,000        137           False
quickdraw-doodle-recognition                   2018-12-04 23:59:00  Featured            $25,000        182           False
ga-customer-revenue-prediction                 2018-11-15 23:59:00  Featured            $45,000       2012           False
airbus-ship-detection                          2018-11-14 23:59:00  Featured            $60,000        956           False
inclusive-images-challenge                     2018-11-05 23:59:00  Research            $25,000        331           False
rsna-pneumonia-detection-challenge             2018-10-24 23:59:00  Featured            $30,000       1150           False
tgs-salt-identification-challenge              2018-10-19 23:59:00  Featured           $100,000       3047           False
new-york-city-taxi-fare-prediction             2018-09-25 23:59:00  Playground        Knowledge       1488           False
forest-cover-type-kernels-only                 2018-09-24 23:59:00  Playground        Knowledge        359           False
demand-forecasting-kernels-only                2018-09-24 23:59:00  Playground        Knowledge        462           False
whats-cooking-kernels-only                     2018-09-24 23:59:00  Playground        Knowledge        523           False

## Downloading a dataset

In [0]:
!kaggle datasets download "center-for-policing-equity/data-science-for-good"

In [0]:
!unzip data-science-for-good.zip

In [0]:
import pandas as pd 

basepath = "Dept_23-00089/23-00089_ACS_data/23-00089_ACS_race-sex-age/"
rca_df = pd.read_csv(basepath + "ACS_15_5YR_DP05_with_ann.csv")
rca_df.head()

,GEO.id,GEO.id2,GEO.display-label,HC01_VC03,HC02_VC03,HC03_VC03,HC04_VC03,HC01_VC04,HC02_VC04,HC03_VC04,...,HC03_VC108,HC04_VC108,HC01_VC109,HC02_VC109,HC03_VC109,HC04_VC109,HC01_VC110,HC02_VC110,HC03_VC110,HC04_VC110
0,Id,Id2,Geography,Estimate; SEX AND AGE - Total population,Margin of Error; SEX AND AGE - Total population,Percent; SEX AND AGE - Total population,Percent Margin of Error; SEX AND AGE - Total p...,Estimate; SEX AND AGE - Total population - Male,Margin of Error; SEX AND AGE - Total populatio...,Percent; SEX AND AGE - Total population - Male,...,"Percent; CITIZEN, VOTING AGE POPULATION - Citi...","Percent Margin of Error; CITIZEN, VOTING AGE P...","Estimate; CITIZEN, VOTING AGE POPULATION - Cit...","Margin of Error; CITIZEN, VOTING AGE POPULATIO...","Percent; CITIZEN, VOTING AGE POPULATION - Citi...","Percent Margin of Error; CITIZEN, VOTING AGE P...","Estimate; CITIZEN, VOTING AGE POPULATION - Cit...","Margin of Error; CITIZEN, VOTING AGE POPULATIO...","Percent; CITIZEN, VOTING AGE POPULATION - Citi...","Percent Margin of Error; CITIZEN, VOTING AGE P..."
1,1400000US18097310103,18097310103,"Census Tract 3101.03, Marion County, Indiana",6700,435,6700,(X),3167,419,47.3,...,4881,(X),2167,208,44.4,3.3,2714,234,55.6,3.3
2,1400000US18097310104,18097310104,"Census Tract 3101.04, Marion County, Indiana",3309,283,3309,(X),1374,217,41.5,...,2988,(X),1179,194,39.5,6.2,1809,244,60.5,6.2
3,1400000US18097310105,18097310105,"Census Tract 3101.05, Marion County, Indiana",3612,272,3612,(X),1886,186,52.2,...,2546,(X),1280,113,50.3,4.3,1266,158,49.7,4.3
4,1400000US18097310106,18097310106,"Census Tract 3101.06, Marion County, Indiana",3871,489,3871,(X),1802,327,46.6,...,3078,(X),1267,234,41.2,5.6,1811,262,58.8,5.6

In [0]:
a_df = pd.read_csv(basepath + "ACS_15_5YR_DP05_metadata.csv")
a_df.head()

              GEO.id                                               Id
0            GEO.id2                                              Id2
1  GEO.display-label                                        Geography
2          HC01_VC03         Estimate; SEX AND AGE - Total population
3          HC02_VC03  Margin of Error; SEX AND AGE - Total population
4          HC03_VC03          Percent; SEX AND AGE - Total population